@{
    ViewBag.Title = "EnterCustomerInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LAPTRINHWEB.Models.Guest

<h2>Thông tin khách hàng</h2>

<form action="@Url.Action("BookFlights")" method="post">
    <label for="UserName">Tên người dùng:</label>
    @Html.EditorFor(model => model.UserName)

    <label for="Email">Email:</label>
    @Html.EditorFor(model => model.Email)

    <label for="PhoneNumber">Số điện thoại:</label>
    @Html.EditorFor(model => model.PhoneNumber)

    <!-- Add other fields as necessary -->

    <input type="submit" value="Tiếp tục" />
</form>
