@{
    ViewBag.Title = "Home Page";
}

<section>
    <main>
        <div class="main-container">
            <section class="main-slider">
                <!-- slide -->
                <div class="slider">
                    <div class="list">
                        <div class="item">
                            <img src="~/ConTent/CSSJSIMG/images/trangchu/da-lat.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/ConTent/CSSJSIMG/images/trangchu/ho-chi-minh.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/ConTent/CSSJSIMG/images/trangchu/ha-noi.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/ConTent/CSSJSIMG/images/trangchu/da-nang.jpg" alt="">
                        </div>
                    </div>
                    <!-- nut bam trai phai -->
                    <div class="buttons">
                        <button id="previous"><</button>
                        <button id="next">></button>
                    </div>
                    <!-- nut giua cac slide-->
                    <ul class="dots">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
</section>
<main class="">
    <div class="container Home_section__E0q_L">
        <div class="SectionHeader_sectionHeader__60CR7 SectionHeader_center__SgbXz ">
            <div class="SectionHeader_title__eE2Rf">
                <h4>Các điểm đến của FourAirlines</h4>
            </div><label class="lg SectionHeader_description__2ZD1p">Khám phá vẻ đẹp tuyệt vời của máy bay</label>

        </div>
        <div class="Home_cardList__4oqth">
            <a href="">
                <div class="Card_card__rC1zg CategoryCard_categoryCard__X6aCz">
                    <div class="CategoryCard_imageWrapper__ZoxLj">
                        <div style="width:100%;height:100%;position:relative;overflow:hidden">
                            <img alt=""
                                 src="~/ConTent/CSSJSIMG/images/trangchu/OIP.jpg" width="100%" height="100%" loading="lazy"
                                 style="object-fit:cover">
                        </div>
                    </div>
                    <div class="CategoryCard_body__UUyeo">
                        <h6>Đà Nẵng</h6>
                    </div>
                    <div class="CategoryCard_footer__O2fDe">
                        <button type="button"
                                class="Button_button__QHarr  Button_button-sm__ljQtM Button_button-outline__YRytX  ">
                            <div class="label sm"><a href="./sanpham.html">Xem ngay</a></div>
                        </button>
                    </div>
                </div>

                <div class="Card_card__rC1zg CategoryCard_categoryCard__X6aCz">
                    <div class="CategoryCard_imageWrapper__ZoxLj">
                        <div style="width:100%;height:100%;position:relative;overflow:hidden">
                            <img alt=""
                                 src="~/ConTent/CSSJSIMG/images/trangchu/HCM.jpg" width="100%" height="100%" loading="lazy"
                                 style="object-fit:cover">
                        </div>
                    </div>
                    <div class="CategoryCard_body__UUyeo">
                        <h6>Hồ Chí Minh</h6>
                    </div>
                    <div class="CategoryCard_footer__O2fDe">
                        <button type="button"
                                class="Button_button__QHarr  Button_button-sm__ljQtM Button_button-outline__YRytX  ">
                            <div class="label sm"><a href="./sanpham.html">Xem ngay</a></div>
                        </button>
                    </div>
                </div>

                <div class="Card_card__rC1zg CategoryCard_categoryCard__X6aCz">
                    <div class="CategoryCard_imageWrapper__ZoxLj">
                        <div style="width:100%;height:100%;position:relative;overflow:hidden">
                            <img alt=""
                                 src="~/ConTent/CSSJSIMG/images/trangchu/DL.jpg" width="100%" height="100%" loading="lazy"
                                 style="object-fit:cover">
                        </div>
                    </div>
                    <div class="CategoryCard_body__UUyeo">
                        <h6>Đà Lạt</h6>
                    </div>
                    <div class="CategoryCard_footer__O2fDe">
                        <button type="button"
                                class="Button_button__QHarr  Button_button-sm__ljQtM Button_button-outline__YRytX  ">
                            <div class="label sm"><a href="./sanpham.html">Xem ngay</a></div>
                        </button>
                    </div>

                </div>

                <div class="Card_card__rC1zg CategoryCard_categoryCard__X6aCz">
                    <div class="CategoryCard_imageWrapper__ZoxLj">
                        <div style="width:100%;height:100%;position:relative;overflow:hidden">
                            <img alt=""
                                 src="~/ConTent/CSSJSIMG/images/trangchu/HN.jpg" width="100%" height="100%" loading="lazy"
                                 style="object-fit:cover">
                        </div>
                    </div>
                    <div class="CategoryCard_body__UUyeo">
                        <h6>Hà Nội</h6>
                    </div>
                    <div class="CategoryCard_footer__O2fDe">
                        <button type="button"
                                class="Button_button__QHarr  Button_button-sm__ljQtM Button_button-outline__YRytX  ">
                            <div class="label sm"><a href="./sanpham.html">Xem ngay</a></div>
                        </button>
                    </div>
                </div>

                <div class="Card_card__rC1zg CategoryCard_categoryCard__X6aCz">
                    <div class="CategoryCard_imageWrapper__ZoxLj">
                        <div style="width:100%;height:100%;position:relative;overflow:hidden">
                            <img alt=""
                                 src="~/ConTent/CSSJSIMG/images/trangchu/NT.jpg" width="100%" height="100%" loading="lazy"
                                 style="object-fit:cover">
                        </div>
                    </div>
                    <div class="CategoryCard_body__UUyeo">
                        <h6>Nha Trang</h6>
                    </div>
                    <div class="CategoryCard_footer__O2fDe">
                        <button type="button"
                                class="Button_button__QHarr  Button_button-sm__ljQtM Button_button-outline__YRytX  ">
                            <div class="label sm"><a href="./sanpham.html">Xem ngay</a></div>
                        </button>
                    </div>

                </div>
                <div class="Card_card__rC1zg CategoryCard_categoryCard__X6aCz">
                    <div class="CategoryCard_imageWrapper__ZoxLj">
                        <div style="width:100%;height:100%;position:relative;overflow:hidden">
                            <img alt=""
                                 src="~/ConTent/CSSJSIMG/images/trangchu/hue.jpg" width="100%" height="100%" loading="lazy"
                                 style="object-fit:cover">
                        </div>
                    </div>
                    <div class="CategoryCard_body__UUyeo">
                        <h6>Huế</h6>
                    </div>
                    <div class="CategoryCard_footer__O2fDe">
                        <button type="button"
                                class="Button_button__QHarr  Button_button-sm__ljQtM Button_button-outline__YRytX  ">
                            <div class="label sm"><a href="./sanpham.html">Xem ngay</a></div>
                        </button>
                    </div>

                </div>
                <div class="Card_card__rC1zg CategoryCard_categoryCard__X6aCz">
                    <div class="CategoryCard_imageWrapper__ZoxLj">
                        <div style="width:100%;height:100%;position:relative;overflow:hidden">
                            <img alt=""
                                 src="~/ConTent/CSSJSIMG/images/trangchu/CT.jpg" width="100%" height="100%" loading="lazy"
                                 style="object-fit:cover">
                        </div>
                    </div>
                    <div class="CategoryCard_body__UUyeo">
                        <h6>Cần Thơ</h6>
                    </div>
                    <div class="CategoryCard_footer__O2fDe">
                        <button type="button"
                                class="Button_button__QHarr  Button_button-sm__ljQtM Button_button-outline__YRytX  ">
                            <div class="label sm"><a href="./sanpham.html">Xem ngay</a></div>
                        </button>
                    </div>

                </div>
            </a>
        </div>
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <script type="text/javascript">
        // Hiển thị thông báo bằng JavaScript
        alert(@Html.Raw(Json.Encode(TempData["SuccessMessage"])));
        </script>
    }
</main>